
.display {
  display: inline-flex;
  padding: 10px;
}

nz-table tbody tr span.tdIcon {
  display: none;
  font-size: 25px;
  cursor: pointer;
}
nz-table tbody tr span.tdSTT {
  font-size: 25px;
}
nz-table tbody tr:hover span.tdSTT {
  display: none;
}
nz-table tbody tr:hover span.tdIcon {
  display: block;
}

img {
  position: relative;
  height: 180px;
  width: 180px;
  float: left;
  //border: 1px solid black;
  padding: 10px;
  margin-top: 15px;
 // margin-top: 5px;
  margin-left: 20px;
  margin-right: 5px;
  bottom: 20px;
  border: 2px solid  wheat;
}
.name {
  float: left;
  padding-left: 100px;
  font-size: 30px;
  font-weight: 300;
  color: white;
  h1 {
    color: white;
  }
}
nz-table thead tr i.iconplay {
  font-size: 50px;
}

.iconplay:hover {
  font-size: 60px;
}
.table .iconplay {
  font-size: 50px;
}

.content {
  flex: auto;
  min-height: 0;
  width: 100%;
  background: linear-gradient(#938ddf, #2e2e2e);
}
.table {
  // flex: auto;
  // min-height: 0;
  // width: 100%;
  // background: linear-gradient(#b404ae, #2e2e2e);
}
div{
  margin-top: 10px;
}

.wrapper{
  background: transparent;
}
.type {
  position: absolute;
  margin-left: 300px;
  font-weight: 700;
  font-size: 30px;
  margin-top: 4px;
}
.result{
  color: rgb(243, 235, 235);
  font-size: 20px;
  font-weight: bold;
  background: white;
  margin-top: 10px;
  border: brown solid 2px;
  background-color: transparent !important;
}
 nz-table, thead, tbody, tfoot, th, tr,td {
  background-color: transparent !important ;

 }

:host ::ng-deep nz-table .ant-table{
  background-color: transparent ;
}
tr:hover{
  background-color: rgba(10, 10, 10, 0.315) !important;
  
}
nz-table thead,tbody, span{
  color: white;
}

tr th{
  color: white;
  font-size: 20px;
}
